.about-background {
  background-color: blue;
  border-bottom: solid black 0.208vw;
  font-family: AreaNormal-Regular;
  font-size: 1.528vw;
  color: #ffffff;
  letter-spacing: 0;
}

.about-background h2 {
  margin-left: 1.042vw;
}

.about-background p {
  color: white;
}

.about_first_paragraph {
  padding: 9.042vw 24.306vw 1.389vw 24.306vw;
}

.about_second_paragraph {
  padding: 1.389vw 24.306vw 18.431vw 24.306vw;
}
