.about-background {
  background-color: blue;
  border-bottom: solid black 3px;
  font-family: AreaNormal-Regular;
  font-size: 22px;
  color: #ffffff;
  letter-spacing: 0;
}

.about-background h2 {
  margin-left: 15px;
}

.about-background p {
  color: white;
}

.about_first_paragraph {
  padding: 167px 350px 20px 350px;
}

.about_second_paragraph {
  padding: 20px 350px 251px 350px;
}
