.banner {
  overflow: hidden;
  background-color: black;
  color: white;
  white-space: nowrap;
  font-size: 1.667vw;
  font-family: Arial, sans-serif;
  padding: 0.694vw;
  position: absolute;
  top: 9.139vw;
  width: 100%;
}

.banner-text {
  display: inline-block;
  padding-left: 4.861vw;
  animation: scroll-left 8s linear infinite;
}

@keyframes scroll-left {
  0% {
    transform: translateX(0%);
  }

  100% {
    transform: translateX(-100%);
  }
}
