.banner {
  overflow: hidden;
  background-color: black;
  color: white;
  white-space: nowrap;
  font-size: 24px;
  font-family: Arial, sans-serif;
  padding: 10px;
  position: absolute;
  top: 74px;
  width: 100%;
}

.banner-text {
  display: inline-block;
  padding-left: 70px;
  animation: scroll-left 8s linear infinite;
}

@keyframes scroll-left {
  0% {
    transform: translateX(0%);
  }

  100% {
    transform: translateX(-100%);
  }
}
