.menu-wrapper {
  position: relative;
  display: inline-block;
}

.burger-menu {
  width: 5vw;
  height: 5vw;
  cursor: pointer;
  position: absolute;
  top: -2.083vw;
  right: 0.694vw;
}

.links {
  position: absolute;
  top: 2.153vw;
  right: 1.528vw;
  width: 13.889vw;
  background-color: #d8d8d8;
  padding: 0.694vw;
  display: none;
  font-size: 1.875vw;
}

.links a {
  display: block;
  margin-bottom: 0.347vw;
  text-decoration: none;
  color: #333;
}

.show {
  display: block;
  background-color: red($color: #000000);
}
