.menu-wrapper {
  position: relative;
  display: inline-block;
}

.burger-menu {
  width: 72px;
  height: 72px;
  cursor: pointer;
  position: absolute;
  top: -30px;
  right: 10px;
}

.links {
  position: absolute;
  top: 31px;
  right: 0;
  width: 200px;
  background-color: #d8d8d8;
  padding: 10px;
  display: none;
  font-size: 27px;
}

.links a {
  display: block;
  margin-bottom: 5px;
  text-decoration: none;
  color: #333;
}

.show {
  display: block;
}
