.concerts-box {
  margin: 0 1.042vw 0 1.042vw;
  position: relative;
  margin-top: 1.389vw;
}

.concerts-title {
  position: absolute;
  top: 0.833vw;
  left: 3.819vw;
  margin: 0;
  color: #ffffff;
}

.concerts-name-title {
  position: absolute;
  top: 9.653vw;
  left: 3.819vw;
}

.concerts-name-title-second {
  position: absolute;
  top: 12.653vw;
  left: 3.819vw;
}

.number-event {
  color: #00ff25;
}

.concerts-box .info-event {
  color: #ffffff;
}

.concerts-box h3 {
  color: #ffffff;
}

.concerts-box .text-event {
  position: absolute;
  top: 19vw;
  left: 3.819vw;
  font-family: AreaNormal-Regular;
  font-size: 1.528vw;
  color: #ffffff;
  letter-spacing: 0.028vw;
  padding-right: 30.903vw;
}

.concerts-box .info-event {
  position: absolute;
  top: 30.333vw;
  right: 31.042vw;
}

.concerts-box .info-event-second {
  color: #ffffff;
  position: absolute;
  top: 33.333vw;
  right: 31.042vw;
}

.concerts-box .info-event-third {
  color: #ffffff;
  position: absolute;
  top: 30.333vw;
  right: 74.042vw;
}

// .image-container {
//   position: relative;
//   display: inline-block;
// }

.image-container img {
  display: block;
  width: 20.833vw; /* Ajustez la largeur selon vos besoins */
  height: auto;
}

.image-container .hover-image {
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.image-container:hover .hover-image {
  display: block;
  opacity: 1;
}

.first-small-forme {
  position: absolute;
  bottom: 4.722vw;
  left: 4.722vw;
  width: 14.319000000000003vw;
}

.second-small-forme {
  position: absolute;
  bottom: 4.722vw;
  left: 21.597vw;
  width: 14.319000000000003vw;
}

.programme-small-forme {
  position: absolute;
  bottom: 4.722vw;
  left: 38.056vw;
  width: 21.319000000000003vw;
}
