.exhibitions-box {
  margin: 0 1.042vw 0 1.042vw;
  position: relative;
}

.exhibitions-title {
  position: absolute;
  top: 0.833vw;
  left: 3.819vw;
  margin: 0;
}

.exhibitions-name-title {
  position: absolute;
  top: 9.653vw;
  left: 3.819vw;
}

.number-event {
  color: #00ff25;
}

.text-event {
  position: absolute;
  top: 16.667vw;
  left: 3.819vw;
  font-family: AreaNormal-Regular;
  font-size: 1.528vw;
  color: #ffffff;
  letter-spacing: 0.028vw;
  padding-right: 30.903vw;
}

.info-event {
  position: absolute;
  top: 33.333vw;
  right: 31.042vw;
}

.image-container {
  position: relative;
  display: inline-block;
}

.image-container img {
  display: block;
  width: 20.833vw; /* Ajustez la largeur selon vos besoins */
  height: auto;
}

.image-container .hover-image {
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.image-container:hover .hover-image {
  display: block;
  opacity: 1;
}

.image1 {
  position: absolute;
  bottom: 1.319vw;
  left: 3.819vw;
  background-image: url("/src/img/forme_expo_1_verte.svg");
  width: 22.014vw;
  height: 13.889vw;
  background-size: 14.861vw;
  background-repeat: no-repeat;
}

.image2 {
  position: absolute;
  bottom: 1.319vw;
  left: 3.819vw;
  background-image: url("/src/img/forme_expo_1_violet.svg");
  width: 22.014vw;
  height: 13.889vw;
  background-size: 14.861vw;
  background-repeat: no-repeat;
}

.hidden {
  display: none;
}

.code-container {
  margin-bottom: 1.389vw;
}
