@font-face {
  font-family: "DANSON-BOLD";
  src: url("../font/DANSON-BOLD.woff2") format("woff2"),
    url("../font/DANSON-BOLD.woff") format("woff");
  font-weight: 700;
  font-style: bold;
  font-display: fallback;
}
