.logo-eikonica-footer {
  width: 14.028vw;
  padding: 1.389vw;
}

footer i {
  font-size: 2.083vw;
}

.element-social-media {
  margin-left: 1.042vw;
}

.element-instagram {
  margin-left: 1.389vw;
}

.legal-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 1.042vw;
}

.legal-container a {
  text-decoration: none;
}

.legal-part {
  border-top: 0.139vw solid black;
  padding: 1.042vw 0 1.042vw 0;
}

.contact-box {
  margin: 40px 0;
}
