.logo-eikonica {
  width: 14.028vw;
  border-right: solid black 0.208vw;
  padding: 1.389vw;
}

.nav-container {
  // z-index: 2;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  border: solid black 0.208vw;
  // position: fixed;
  width: 100%;
  width: 155%;
  background-color: #e9e9e9;
}

.nav-frist-element {
  display: flex;
  justify-content: center;
  line-height: 3.125vw;
}

header a {
  font-size: 1.875vw;
  text-decoration: none;
}

.nav-frist-element a {
  margin: 1.042vw 0 0.347vw 1.667vw;
}

.menu-wrapper {
  margin-left: 1.389vw;
}

.nav-spacer {
  padding-right: 5.556vw;
}

.element-programme {
  padding-right: 1.667vw;
}

.first-nav {
  // z-index: 2;
  // position: fixed;
  display: flex;
  flex-direction: row;
  background-color: #e9e9e9;

  padding: 0.694vw 1.042vw;
  width: 155%;
}

.nav-box {
  z-index: 2;
  position: fixed;
}

.first-nav a {
  font-family: DANSON-BOLD;
  font-size: 2.153vw;
  color: #000000;
  letter-spacing: 0;
}

.first-nav a:active {
  color: #00ff08;
}

.first-nav p {
  font-family: DANSON-BOLD;
  font-size: 2.153vw;
  color: #000000;
  letter-spacing: 0;
}

.first-nav-element {
  position: fixed;
  right: 1.042vw;
}

.first-nav-element a {
  font-family: AreaNormal-Regular;
  font-size: 1.875vw;
  color: #000000;
  letter-spacing: 0;
}

.account {
  margin-left: 1.042vw;
}

footer a {
  text-decoration: none;
}
