/* ====================================
// css variables
// ==================================== */

:root {
}

/* ====================================
// reset rules
// ==================================== */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 1.111vw;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;

  font-size: 1rem;
  line-height: 1.25;
}

a {
  color: inherit;
  font-size: 2.153vw;
}

img,
video {
  max-inline-size: 100%;
  block-size: auto;
  vertical-align: middle;
}

/* ====================================
// base rules
// ==================================== */
body {
  font-family: "area-normal", sans-serif;
  font-weight: 400;
  font-style: normal;
}

h2 {
  font-family: DANSON-BOLD;
  font-size: 7.222vw;
  color: #ffffff;
  letter-spacing: 0;
  margin-left: 2.361vw;
}

.second-title {
  color: black;
  margin-left: 1.042vw;
}

h3 {
  font-family: AreaNormal-Bold;
  font-size: 2.569vw;
  letter-spacing: 0.047vw;
  color: white;
}

h4 {
  font-family: AreaNormal-Bold;
  font-size: 1.528vw;
  color: #ffffff;
  letter-spacing: 0.028vw;
  text-align: right;
}

.bouton-more {
  background: #10ff00;
  border: 0.208vw solid #000000;
  font-family: AreaNormal-Regular;
  font-size: 1.875vw;
  color: #000000;
  letter-spacing: 0;
  text-align: center;
  padding: 1.042vw 1.389vw;
  text-decoration: none;
  margin: 0 1.042vw 2.917vw 71.667vw;
}

.bouton-more:hover {
  background-color: black;
  color: white;
}

.partner-container {
  margin: 0 1.042vw 0 1.042vw;
  padding: 2.083vw 0 2.083vw 0;
  background-color: #000000;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.partner-container img {
  height: 4.792vw;
}

.partner {
  background-color: #000000;
  margin-top: 4.236vw;
}
